/* Inspired by Every Layout https://every-layout.dev/ */

.sidebar-layout {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sidebar-gap, var(--s1));
}
.sidebar-layout > *:first-child:not(:only-child) {
    flex-basis: var(--sidebar-width, calc(0.5 * var(--measure)));
    flex-grow: 1;
    align-self: flex-start;
}
.sidebar-layout > *:last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}
.sidebar-layout > *:nth-child(n + 3) {
    outline: 2px red solid;
}
.sidebar-layout > *:nth-child(n + 3):before {
    content: "Sidebar layout is only meant for 2 columns";
    color: red
}